<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="ALevel\QuickOrder\Api\Model\OrderInterface"
                type="ALevel\QuickOrder\Model\Order"/>
    <preference for="ALevel\QuickOrder\Api\Repository\OrderRepositoryInterface"
                type="ALevel\QuickOrder\Repository\OrderRepository"/>
    <preference for="ALevel\QuickOrder\Api\Model\StatusInterface"
                type="ALevel\QuickOrder\Model\Status"/>
    <preference for="ALevel\QuickOrder\Api\Repository\StatusRepositoryInterface"
                type="ALevel\QuickOrder\Repository\StatusRepository"/>

    <preference for="Magento\CatalogWidget\Block\Product\ProductsList"
                type="ALevel\QuickOrder\Block\Product\ProductsList" />
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quickorder_grid_listing_data_source" xsi:type="string">ALevel\QuickOrder\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="quickorder_status_listing_data_source" xsi:type="string">ALevel\QuickOrder\Model\ResourceModel\Status\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
